<nz-layout class="auth-layout">
  <div class="auth-inner">
    <nz-layout class="auth-container">
      <div class="auth-form">
        <div class="auth-left">
          <div class="d-flex vertical auth-content">
            <img
              class="logo"
              src="assets/images/kbl-auth-logo.svg"
              alt="KBL Logo" />
            <p class="title-20 mb-0">
              Making a difference everyday with innovative and sustainable fluid
              management
            </p>
          </div>
        </div>
        <div class="auth-right"><router-outlet></router-outlet></div>
      </div>
    </nz-layout>
  </div>
</nz-layout>
