@btn-border-radius-base: 8px;
@btn-height-base: 44px;
@btn-height-lg: 60px;
@btn-font-weight: 600;
@btn-padding-horizontal-lg: 36px;
@btn-font-size-lg: 16px;
@btn-default-ghost-color: rgb(var(--text-white));
@btn-default-ghost-bg: transparent;
@btn-default-ghost-border: rgb(var(--text-white));
@btn-default-color: rgb(var(--btn-primary-color));
@font-family: "Montserrat", sans-serif;
@input-height-base: 60px;
@control-padding-horizontal: 15px;
@input-bg: transparent;
@input-color: rgb(var(--text-white));
@divider-color: rgb(var(--input-border-color));
@heading-color: rgb(var(--text-white));
@text-color: rgb(var(--text-white));
@badge-dot-size: 12px;
@badge-color: rgb(var(--primary-color));
@dropdown-menu-bg: rgb(var(--ebony-black));
@dropdown-vertical-padding: 9px;
@dropdown-font-size: 14px;
@dropdown-line-height: 22px;
@select-border-color: rgb(var(--input-border-color));
@select-background: transparent;
@control-border-radius: 15px;
@select-dropdown-bg: rgb(var(--ebony-black));
@select-dropdown-font-size: 14px;
@select-dropdown-line-height: 22px;
@select-dropdown-vertical-padding: 9px;
@select-item-active-bg: rgba(var(--silver), 0.1);
@select-item-selected-bg: rgba(var(--primary-color), 0.05);
@select-multiple-item-height: 44px;
@select-selection-item-bg: rgba(var(--bg-white), 0.07);
@select-selection-item-border-color: rgba(var(--bg-white), 0);
@form-vertical-label-padding: 0 0 6px;
@card-background: rgba(var(--black-card-bg), 0.3);
@card-radius: 12px;
@card-padding-base: 16px;
@modal-content-bg: rgb(var(--modal-bg-black));
@modal-header-bg: rgb(var(--modal-bg-black));
@modal-header-padding: 32px 32px 24px 32px;
@modal-header-title-line-height: 51px;
@modal-header-title-font-size: 32px;
@modal-body-padding: 0 32px 40px;
@modal-footer-border-color-split: rgb(var(--input-border-color));
@modal-footer-padding-vertical: 20px;
@modal-footer-padding-horizontal: 32px;
@picker-bg: transparent;
@calendar-bg: rgb(var(--ebony-black));
@picker-border-color: rgb(var(--ebony-black-two));
@picker-basic-cell-hover-color: rgba(var(--bg-white), 0.2);
@checkbox-size: 24px;
@checkbox-check-color: rgb(var(--btn-primary-color));
@tag-border-radius: 100px;
@tag-font-size: 12px;
@tag-line-height: 16px;
@rate-star-bg: rgb(var(--spanish-gray));
@card-actions-background: transparent;
@primary-color: rgba(0, 159, 253, 1);
