@use '../mixin.scss' as mixin;
.ant-notification-notice {
  width: 370px;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 0px 18px 40px 0px rgba(var(--black), 0.3);
  border: 1px solid rgb(var(--border));
  &:has(> .notice-lg) {
    width: 460px;
  }
  .ant-notification-notice-close {
    display: none;
  }
  .ant-notification-notice-content {
    .ant-notification-notice-with-icon {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      min-height: 42px;
      color: rgb(var(--success-dark));
      &.notice-warning {
        color: rgb(var(--error-dark));
      }
      .ant-notification-notice-icon-warning.ant-notification-notice-icon-warning {
        color: rgb(var(--error-warning));
        background-image: url('data:image/svg+xml,<svg width="27" height="27" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2117 17.2675L13.2411 17.2411L13.2675 17.2117C13.3971 17.0677 13.5244 16.8935 13.6162 16.659C13.696 16.4645 13.75 16.2399 13.75 16C13.75 15.7562 13.6943 15.5283 13.6123 15.3315C13.5286 15.1306 13.4121 14.949 13.2675 14.7883L13.2411 14.7589L13.2117 14.7325C13.051 14.5879 12.8694 14.4714 12.6685 14.3877C12.651 14.3804 12.6334 14.3734 12.6157 14.3667C13.1356 14.1304 13.5 13.6052 13.5 13V8C13.5 7.17579 12.8242 6.5 12 6.5C11.1758 6.5 10.5 7.17579 10.5 8V13C10.5 13.6052 10.8644 14.1304 11.3843 14.3667C11.3666 14.3734 11.349 14.3804 11.3315 14.3877C11.1306 14.4714 10.949 14.5879 10.7883 14.7325L10.7589 14.7589L10.7325 14.7883C10.5879 14.949 10.4714 15.1306 10.3877 15.3315C10.3057 15.5283 10.25 15.7562 10.25 16C10.25 16.2399 10.304 16.4645 10.3838 16.659C10.4756 16.8935 10.6029 17.0677 10.7325 17.2117L10.7589 17.2411L10.7883 17.2675C10.949 17.4121 11.1306 17.5286 11.3315 17.6123C11.5283 17.6943 11.7562 17.75 12 17.75C12.2438 17.75 12.4717 17.6943 12.6685 17.6123C12.8694 17.5286 13.051 17.4121 13.2117 17.2675ZM2.75 12C2.75 6.90421 6.90421 2.75 12 2.75C17.0958 2.75 21.25 6.90421 21.25 12C21.25 17.0958 17.0958 21.25 12 21.25C6.90421 21.25 2.75 17.0958 2.75 12Z" fill="%23ECA51C" stroke="%23ECA51C" stroke-width="1.5"/></svg>');
      }
      .ant-notification-notice-icon-error.ant-notification-notice-icon-error {
        color: rgb(var(--error-dark));
        background-image: url('data:image/svg+xml,<svg width="27" height="27" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2117 17.2675L13.2411 17.2411L13.2675 17.2117C13.3971 17.0677 13.5244 16.8935 13.6162 16.659C13.696 16.4645 13.75 16.2399 13.75 16C13.75 15.7562 13.6943 15.5283 13.6123 15.3315C13.5286 15.1306 13.4121 14.949 13.2675 14.7883L13.2411 14.7589L13.2117 14.7325C13.051 14.5879 12.8694 14.4714 12.6685 14.3877C12.651 14.3804 12.6334 14.3734 12.6157 14.3667C13.1356 14.1304 13.5 13.6052 13.5 13V8C13.5 7.17579 12.8242 6.5 12 6.5C11.1758 6.5 10.5 7.17579 10.5 8V13C10.5 13.6052 10.8644 14.1304 11.3843 14.3667C11.3666 14.3734 11.349 14.3804 11.3315 14.3877C11.1306 14.4714 10.949 14.5879 10.7883 14.7325L10.7589 14.7589L10.7325 14.7883C10.5879 14.949 10.4714 15.1306 10.3877 15.3315C10.3057 15.5283 10.25 15.7562 10.25 16C10.25 16.2399 10.304 16.4645 10.3838 16.659C10.4756 16.8935 10.6029 17.0677 10.7325 17.2117L10.7589 17.2411L10.7883 17.2675C10.949 17.4121 11.1306 17.5286 11.3315 17.6123C11.5283 17.6943 11.7562 17.75 12 17.75C12.2438 17.75 12.4717 17.6943 12.6685 17.6123C12.8694 17.5286 13.051 17.4121 13.2117 17.2675ZM2.75 12C2.75 6.90421 6.90421 2.75 12 2.75C17.0958 2.75 21.25 6.90421 21.25 12C21.25 17.0958 17.0958 21.25 12 21.25C6.90421 21.25 2.75 17.0958 2.75 12Z" fill="%23C60000" stroke="%23C60000" stroke-width="1.5"/></svg>');
      }
      .ant-notification-notice-icon {
        margin-left: 0;
        width: 27px;
        height: 27px;
        svg {
          display: none;
        }
        background-image: url('data:image/svg+xml,<svg width="27" height="27" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 0.666666C6.65333 0.666666 0.666664 6.65333 0.666664 14C0.666664 21.3467 6.65333 27.3333 14 27.3333C21.3467 27.3333 27.3333 21.3467 27.3333 14C27.3333 6.65333 21.3467 0.666666 14 0.666666ZM20.3733 10.9333L12.8133 18.4933C12.6267 18.68 12.3733 18.7867 12.1067 18.7867C11.84 18.7867 11.5867 18.68 11.4 18.4933L7.62666 14.72C7.24 14.3333 7.24 13.6933 7.62666 13.3067C8.01333 12.92 8.65333 12.92 9.04 13.3067L12.1067 16.3733L18.96 9.52C19.3467 9.13333 19.9867 9.13333 20.3733 9.52C20.76 9.90667 20.76 10.5333 20.3733 10.9333Z" fill="%230AA630"/></svg>');
      }
      .ant-notification-notice-message {
        margin-left: 44px;
        margin-bottom: 0;
        padding-right: 0;
        @include mixin.font(14, 700, 17);
        color: rgb(var(--dark-title));
      }
      .ant-notification-notice-btn {
        margin-top: 0;
      }
    }
  }
  // for notify component
  &.notify-error,
  &.notify-warning,
  &.notify-success {
    .ant-notification-notice-description {
      display: none;
    }
  }
}
